@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.formatted-slack-text {
    font-size: 15px;

    line-height: 23px;

    /* font-size: 3rem; */
}

.formatted-slack-text a {
    color: #1d9bd1;
    text-decoration: underline;
}

.formatted-slack-text code {
    padding: 0.07em 0.21em;

    line-height: 18px;

    border-radius: 0.21em;

    color: rgb(232, 145, 45);
    background: rgba(232, 232, 232, 0.04);
    border: 1px solid rgba(232, 232, 232, 0.13);

    font-size: 12px;
}

.slack-block-channel,
.slack-block-user {
    padding: 0 2px 1px 2px;

    border-radius: 3px;

    background: rgba(29, 155, 209, 0.1);
    color: rgb(43, 165, 206);
}
.slack-block-user.us {
    background: rgba(160, 115, 0, 0.18);
    color: rgb(222, 167, 0);
}

.slack-block-quote {
    position: relative;

    padding-left: 16px;
    margin: 4px 0;
}
.slack-block-quote::before {
    content: '';

    background: rgb(185, 186, 189);

    border-radius: 8px;
    width: 4px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.slack-code-block {
    margin: 4px 0;
    padding: 8px;

    white-space: pre-wrap;

    border-radius: 4px;

    border: 1px solid rgba(232, 232, 232, 0.13);

    background: rgba(232, 232, 232, 0.04);

    line-height: 18px;

    font-size: 12px;
}

li::marker {
    color: inherit;

    margin-left: -28px;
    margin-right: 6px;
}
li {
    margin-left: 28px;
}

ul li {
    list-style: disc !important;
}
ol li {
    list-style: decimal !important;
}

/* .formatted-slack-text > strong:first-child {
    font-size: 2.5rem;
} */

.progress-bar__hint {
    display: none;
}
.slide-header:hover .progress-bar__hint {
    display: block;
}

/* .formatted-slack-text * {
    display: inline-block;
} */
