.progress-bar:not(.progress-bar--paused) .fill .content {
    animation: fill var(--fill-duration) linear forwards;
}
.progress-bar--paused .fill .content {
    width: 100%;
}

@keyframes fill {
    to {
        width: 100%;
    }
}
